NODE_ENV=production
PORT=3101
HOSTNAME=127.0.0.1
API_BASE_URL=http://127.0.0.1:8184
AUTH_SECRET_KEY=CHANGE_ME_SAME_AS_BACKEND
NEXT_PUBLIC_API_BASE_URL=https://asistenciamodelo.online
NEXT_PUBLIC_CLIENT_API_BASE_URL=/api
